.data-todo {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin-bottom: 5px;
    }
    .update-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
      }
      .delete-btn {
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
      }
      .todo-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }
      
      .todo-card h3 {
        margin-top: 0;
      }
      
      .todo-card textarea {
        width: 100%;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 10px;
        resize: none;
      }
      
}